*{
	margin: 0;
	padding: 0;
	outline: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
header{
	margin: 0;
	padding: 0;
	width: 100%;
  height:556px;
	background-image: url(../images/top_bg.jpg);
	background-size: auto 524px;
	background-repeat: repeat-x;
	border-bottom: 1px solid #ABABAB;
}

footer{
	margin: 0;
	padding: 0;
	width: 100%;
	height:122px;
	background-image: url(../images/footer_bg.jpg);
	background-size: auto 122px;
	background-repeat: repeat-x;
}
.top-header{
	margin: 0;
	padding: 0;
	width:1000px;
	height:524px; 
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 524px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.wrapper-content{
	position: relative;
	width:1000px;
	height: 774px;
	margin-left: auto;
	margin-right: auto;
}
.bot-footer{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}
.bot-menu{
	font-size: 13px;
	font-weight: bold;
	color:#F78D1A;
	margin-top: 53px;
	margin-left: 35px;
}

.cop-right{
	color:#566369;
	font-size:12px;
	margin-top: 53px;
	margin-left: 65px;
}
.list-menu{
	display: flex;
}
.list-menu li a{
	color:#F78D1A;
	padding:0 15px 0 13px;
}
.list-menu li a:hover{
	color:#8AAE00;
}
.list-menu li a:focus{
	color:#8AAE00;
}
.left-content{
	position: absolute;
	width: 710px;
	height: 687px;
	top: 84px;
}
.wrapper-left-content{
	position: relative;
	margin-left: 30px;
	width: 680px;
}
.welcome0{
	padding-top: 33px;
	font-size: 22px;
	color: #8A8A8A;
	font-weight: 600;
	text-transform: uppercase;
}
p .welcome1{
	font-size: 29px;
	font-weight: bold;
	color: #000000;
}
.hed1{
	padding-top: 15px;
	color: #8AAE00;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13.6px;
}
.parag1,.parag2,.parag3,.parag4{
	color: #516372;
	font-size: 14px;
}
.parag1{
	padding-top: 18px;
}
.parag2{
	padding-top: 10px;
}
.parag3,.parag4{
	padding-top: 7px;
}
.read-more {
	padding-top:15px;
	padding-bottom: 15px;
	font-size: 11px;
	font-weight: bold;
	color:#F78D1A;
	list-style-image: url(../images/green_dot.jpg);
	list-style-position: inside;
}
.double-read{
	padding-top: 20px;
}
.hed3{
	text-transform: uppercase;
	font-size: 25px;
	padding-top:15px;
	padding-bottom: 15px;
}
.hed5{
	font-weight: bold;
	color:#F78D1A;
	padding-top:10px;
	padding-bottom: 10px;	
}
.load-time, .repair-png,.bot-menu,.copy-right{
	float: left;
}
.loading-time{
	padding-top:25px;
}
.repair-man{
	padding-top: 30px;
}
.repair-man,.loading-time{
	padding-left: 115px;
}
.load-time,.repair-png{
	position: relative;
	bottom: -35px;
}
.form-register{
	position: absolute;
	right:15px;
	top:114px;
	width:255px;
	height:288px;
	border-radius: 10px;
	background-color: #F6F6F6;
	background-image: url(../images/login_top.jpg);
	background-repeat: no-repeat;
}
.wrapper-check-in{
	position: relative;
	height: 199px;
	width: 99.2%;
	border-left:1.1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	top:25px;
	border-radius:0 0 10px 10px;
}
.form-main{
	position: relative;
	top:-19px;
}
.new3{
	color:#F61414;
	padding-left: 2px;
}
.label-reg{
	padding-left: 50px;
	color:#566369;
	font-size: 13.5px;
	}
.label-reg1{
	margin-top: 10px;
}
.label-reg2{
	padding-top: 5px;
}
.text-reg{
	list-style-image: url(../images/orange_dot.jpg);
	list-style-position: inside;
	font-size: 12px;
	padding-bottom: 5px; 
	padding-left: 36px;
	margin-top: -6px;
	color:#566369;
}
.text-reg:hover{
	color:#F78D1A;
}
.text-reg-new{
	margin-top: 0px;	
}
.button-log{
	display: inline-block;
	margin-left: 36px;
	color: #FFF;
	height: 27px;
	width:75px;
	background-color: #979797;
	border-radius: 14px;
	border: none;
	font-weight: bold;
	outline: none;
}
.button-log:active{
	outline: none;
}
.button-log:hover{
	background:linear-gradient(#EB8813, #E38916) #E38916;
}
.form-fields{
	display: inline-block;
	border-radius: 15px;
	border-top: 1px solid #C1C1C1;
	border-right: none;
	border-left: 1px solid #C1C1C1;
	border-bottom:none;
	margin-top: 5px;
	padding-left: 15px;
	margin-left: 36px;
	height: 27px;
	width:170px;
}
.us-log{
	color: #8AAE00;
	font-size: 24px;
	font-weight: bolder;
	display: block;
	padding-top:35px;
	padding-left: 20px;
}
.last-news{
	position: relative;
	top:421px;
	left:730px;
	width:255px;
	height:327px;
	border-radius: 10px;
	font-size: 10px;
	background-color: #F6F6F6;
}
.event-top{
	position:absolute;
	width:100%;
}
.wrapper-news{
	position:absolute;
	top:80px;
	width:99.2%;
	height:246px;
	border-left:1.1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	border-radius:0 0 10px 10px;
}
.hed-news{
	padding-left: 63px;
	margin-top: -40px;
	font-size: 26px;
	color:#F78D1A;
}
.date-disp{
	list-style-image: url(../images/green_right.jpg);
	list-style-position: inside;
	color: #A2995E;
	font-size: 12px;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 5px;
}
.date-disp1{
	padding-top: 0px;
}
input[placeholder="enter your name"]{
	opacity: 0.6;
}
input[placeholder="........" ]{
	font-size: 14px;
	opacity: 0.6;
}
.new2{
	list-style-image: url(../images/orange_dot.jpg);
	list-style-position: inside;
	font-weight: bold;
	color:#F78D1A;
	font-size: 11px;
	padding-left: 52px;
	padding-top: 10px;
}
.text-news{
	font-size: 14px;
	padding-top: 4px;
	padding-left: 52px;
	color: #59626B;
}
.gen-info{
	width: 100%;
	height: 365px;
	position: relative;
}
h1{
	color: #FFFFFF;
	font-size: 39px;
	padding-top: 111px;
	padding-left:545px;
}
h2{
	font-size: 33px;
	font-weight: 200;
	padding-top: 6px;
	padding-left:545px;
}
.top-phr{
	padding-left:545px;
	color: #FFFFFF;
	font-size: 11.6px;
	line-height: 15px;
	padding-top: 11px;
	text-align: left;
}
.top-button{
	padding-top: 24px;
	padding-left:545px;
}
nav{
	position: relative;
	margin-left:70px;
	margin-top: 34px;
}
.navigation{
	float: left;
	width:900px;
}
.navigation li{
	font-weight: bolder;
	font-size: 13px;
	float: left;
	padding: 18px 14px 0 0;
}
.navigation li a{
	color: #000000;
	display: block;
	text-align: center;
	height: 39px;
	width: 80px;
}
.navigation li:hover{
	display: block;
	margin-top:5px;
	background-image: url(../images/home_hover.jpg);
	background-repeat: no-repeat;
}
.navigation li a:hover{
	display: block;
	margin:-6px 0  0 0;
	padding: 0;
	height: 39px;
	width: 79px;
	text-align: center;
	color: #ffffff;
}
.navigation li:focus{
	display: block;
}
.navigation li a:focus{
	display: block;
	margin:-16px 0  0 0;
	padding: 0;
	padding-top: 10px;
	height: 39px;
	width: 79px;
	text-align: center;
	background-image: url(../images/home_hover.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.logo-nav{
	position: relative;
	height:108px;
	display: flex;
}
.logo{
	position: relative;
	top: 17%;
	left:1.5%;
}
.call-top{
	position: relative;
	height: 50px;
	}
.call-us{
	position: absolute;
	top:18px;
	right:60px;
	color:#FFF;
	font-size: 12px;
	font-weight: 700;
}
.but1{
	width: 96px;
	height: 32px;
	border-radius: 5px;
	border: none;
	background:linear-gradient(to bottom, #EEEEEE, #B4B4B4);
}
.but1:hover{
	color: #F78D1A;
}
.info-label{
	position: absolute;
	top:525px;
	width:1000px;
	height:145px;
	background-image: url(../images/growth_bg.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 145px;
	padding-left: 31px;
	z-index: -1;
	}
	.info-l1{
		text-transform: uppercase;
		padding-top: 40px;
		color: #516372;
		font-weight: bolder;
		font-size: 24px;
	}
	.info-l2{
		padding-top: 8px;
		color: #959C9F;
		font-size: 16px;
	}
	.hed5:hover{
		color: #8AAE00;
	}
	.new2:hover{
		color: #8AAE00;
	}
	.read-more:hover{
		color: #8AAE00;
	}
