body{
	margin:0;
	padding:0;	
	border: 0;
}
header{
	margin:0;
	padding:0;
	background-image:url(../images/header_bg.jpg);
	background-repeat:no-repeat;
	background-size: 765px 365px;
	 
}
#call_us{
	text-align:left;
	margin:0;
	padding:0;
}
.new1{
list-style-image: url(../images/green_dot.jpg);
}
.new2{
	list-style-image: url(../images/orange_dot.jpg);
}
.new3{
	color:#C70000;
}
